* {
  box-sizing: border-box;
  margin: 0;
}

.sectionOne-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 100px;
  padding-bottom: 50px;
}

.inviting-drivers {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sectionOne-container h1 {
  margin: 0 auto;
  font-size: 60px;
  font-weight: 900;
  line-height: 1.2;
  width: 900px;
  height: auto;
  min-height: 94px;
  color: rgba(255, 255, 255, 1);
  text-align: center;
}

.sectionOne-container h2 {
  font-size: 36px;
  font-weight: 700;
  color: rgba(255, 255, 255, 1);
  text-align: center;
  margin-bottom: 20px;
}

.sectionOne-container p {
  font-size: 18px;
  font-weight: 400;
  color: rgba(255, 255, 255, 1);
  text-align: center;
  line-height: 1.5;
  max-width: 900px;
  margin-bottom: 30px;
}

.sectionOne-container button {
  background: #1fbad6;
  color: white;
  border: none;
  padding: 15px 30px;
  border-radius: 4px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  text-transform: uppercase;
  margin-bottom: 165px;
  margin-top: 100px;
}

.sectionOne-container button:hover {
  background: #1ca8c1;
}
